name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install 1.57 nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly-1.57
          override: true
          components: rustc
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
